@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Love+Ya+Like+A+Sister&family=Playwrite+NZ+Guides&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}
.playwrite-nz-guides-regular{
    font-family: "Playwrite NZ Guides", cursive;
    font-weight: 400;
    font-style: normal;
}
h1{
    text-align: center;
    background: #ff0073fa;
    stroke: black 2px solid;
    font-weight: 600;
    font-family: "Playwrite NZ Guides", cursive;
}
/*
h1{
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: 800;
    stroke: black 2px solid;
    font-family: "Playwrite NZ Guides", cursive;
    top: -270px;

text-decoration: underline black 2px dotted;
}*/
.heart{
    position:relative;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    animation: heartfall 10s ease-out infinite ;
    
}
.heart img{
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 90px;
}

@keyframes heartfall {
    0%{
        opacity: 1;
        transform: translateY(0%);
    }
   
    90%{
        opacity: 1;
    }
    100%{
        transform: translateY(100%);
        opacity: 0;
    }
    
}

.heart:nth-child(1){
    animation-delay: 1s;
}
.heart:nth-child(2){
    animation-delay: 2s;
}
.heart:nth-child(3){
    animation-delay: 1s;
}
.heart:nth-child(5){
    animation-delay: 4s;
}
.heart:nth-child(6){
    animation-delay: 2s;
}
.heart:nth-child(7){
    animation-delay: 3s;
}
.heart:nth-child(8){
    animation-delay: 0s;
}
.heart:nth-child(9){
    animation-delay: 2s;
}
.box{
    width: 800px;
    height: 500px;
    margin-top: 20px;
    position:absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: inset 2px 5px 10px;
    border: 4px dotted #f1131a;
    background-image: url("css-pattern-by-magicpattern.png");
}
.icon{position: absolute;

    width: 60px;
    height: 60px;

}
.img1{
position: relative;
top: -180px;
margin-left: 20px;
        animation: 2s animateimgs linear infinite;

}
.img2{
    position: relative;
    top: 180px;
    left: -50px;
            animation: 2s animateimgs linear infinite;

}

.img5{
    position: relative;
    left: -120px;
            animation: 2s animateimgs linear infinite;

}

.img6{
    position: absolute;
    right: 20px;
            animation: 2s animateimgs linear infinite;

}
.img3{
    position: absolute;
    right: 20px;
    top: 50px;
    height: 70px;
    width: 70px;
            animation: 2s animateimgs linear infinite;

}
.img4{
    position: absolute;
    right: 20px;
    bottom: 40px;
    height: 80px;
    width: 80px;
            animation: 2s animateimgs linear infinite;

}
h2{
    position: relative;
    text-align: center;
    font-variant: first;
    text-align: center;
    justify-content: center;

    top: -150px;
    font-family: "Love Ya Like A Sister";
}

.love-ya-like-a-sister-regular{
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}

.body-text{
    position: absolute;
    height: 200px;
    width: 400px;
    align-items: center;
    left: 200px;
    top: 100px;
    color: #000000;
        text-shadow: 2px 5px 10px;
}

.buttons{
    position: relative;
    bottom: -40px;
    left: 25%;
    z-index: 1000;
    top: 50px;
   
}
button{
    position: relative;
    z-index: 1000;
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: 800;
    border: 3px dashed #ec1e7b;
}
#nextbutton{
    z-index: 1000;
}
button:hover{
    background: #ff9a9e;
    border: 3px dashed black;
    transform: translateY(-10px);
    font-kerning: auto;
    transition: 0.3s all ease;
    
}
.love-light-regular{
    font-family: "Love Light", cursive;
    font-weight: 800;
    font-style: bold;
}

p{
    font-family: "Love Light";
    font-weight: 600;
    font-size: 28px;
    align-items: justify;
    text-align: center;
    color: #ec1e7b;

}
.roboto-slab{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-shadow: #fecfef;
}  


#play-audio{
    position: relative;
    z-index: 100;
    top: -300px;
    left: -200px;
}
#play-audio:hover{
    color: white;
}
#pause-audio{
    top: -300px;
    left: -120px;
}
.section{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.section .wave span{
    position: absolute;
    width: 325vh;
    height: 325vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
    content: "";
}
.section .wave{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff9a9e;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.section .wave span:nth-child(1){
    border-radius: 43%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}
.section .wave span:nth-child(2){
    border-radius: 40%;
    background: rgba(250, 0, 96, 0.5);
    animation: animate 10s linear infinite;

}
.section .wave span:nth-child(3){
    border-radius: 42.5%;
    background:rgba(253, 33, 169, 0.5);
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0%{
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

#imgs{
    position: relative;
    height: 80px;
    width: 80px;
    top: -20px;
}

#downloadbtn{
    position: relative;
    font-size: 10px;
    top: -300px;
}
.watermark{
    position:relative;
    top: 200px;
    text-align: center;
}

@media screen and (max-width:776px) {
    h1{
        font-size: 26px;
    }

    .box{
        width: 450px;
        height: 300px;
    }

    .icon{
        width: 40px;
        height: 40px;

    }

    .img1{
        top: -120px;

    }
    .img2{
        top: 100px;
    }
    .img5{
        left: -90px;
    }
    .img3{
        top: 20px;
    }

    h2{
        top: -80px;
        
    }

    .body-text{
        font-size: 14px;
        top: 100px;
        left: 120px;
        width: 300px;
        color: #000000;
        text-shadow: 2px 5px 10px;

    }
    h3{
        position: relative;
        top: -20px;
    }
    .buttons{
        top: 10px;
        left: 20px;
    }
    p{
        position: relative;
        font-size: 20px;
        width: 250px;
        left: -20px;
        color: #ec1e7b;
        top: -20px;

    }
    .box{
        background: offwhite;
        border: 2px solid black;
    }

    .watermark{
        top: 110px;
    }
#imgs{
    position: relative;
    height: 50px;
    width: 50px;
    top: -40px;
}
#downloadbtn{
    top: -250px;
}

#play-audio{
    left: -320px;
}
#pause-audio{
    left: -300px;
}
}

@media screen and (max-width:336px){
   h1{
    top: -200px;
    font-size: 22px;
    left: 40px;
   }
    .box{
        width: 300px;
        height: 200px;
        margin-top: 40px;
    }
    .icon{
        width: 30px;
        height: 30px;
    }
    .img1{
        top: -100px;
    }
    .img2{
        left: -30px;
        top:40px;
    }
    
    .img4{
        top: 150px;
    }
    .img5{
        left: -70px;
        top: -30px;
    }
    .img6{
        top: 100px;
    }
    .body-text{
        font-size: 9px;
        width: 180px;
        left: 80px;
        top: 80px;
    }
    p{
        font-size: 12px;
        width: 160px;
    }
    h2{
        margin-top: 80px;
        font-size: 22px;
    }

    button{
        font-size: 12px;
        margin-top: -20px;
        width: 50px;
        height: 30px;
    }
   #play-audio{
    position: relative;
    z-index: 100;
    left: -520px;
    top: -140px;
}
#play-audio:hover{
    color: white;
}
#pause-audio{
    left: -500px;
    top: -140px;
}
#downloadbtn{
    width: 120px;
}
#imgs{
    height: 40px;
    width: 40px;
}
.heart{
    margin-left: 2px;
}
#prebtn{
    top: -20px;
}
#nextbtn{
    top: -20px;
}
.watermark{
    top: 20px;
}

}

@keyframes slidetext {
    from {opacity: 0; transform: translateX(-50px);}
    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

.animate-text{
    animation: slidetext 1s ease-out forwards;
}


@keyframes slidetitle {
    from{
        opacity: 0;
        transform: translateY(0px);
    }
    to{
        opacity: 1;
        transform: translateY(-20px);
    }
}

.animate-title{
    animation: slidetitle 1s ease-out forwards;
}
@keyframes slideimg {
from{
    opacity: 0;
    transform: translateX(0px);
  
}    
to{
    opacity: 1;
    transform: translateX(-20px);
   
}
}

.animate-imgs{
    animation: slideimg 1s ease-out forwards;
}

@keyframes animateimgs {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
